/* GLOBAL STYLES */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}
/* LOGIN PAGE STYLES */
 .login {
  width: 100%;
  height: 100vh;
  /* Prefer PNG if present; fallback to existing JPG 
  background-image: url("/bg.png"), url("/bg.jpg"); */
  background-color:#1F2937;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  box-sizing: border-box;
  overflow: hidden;
  /*background: linear-gradient(135deg, #1f2937, #374151, #4b5563);*/
}

/* LEFT TEXT */
.left {
  font-family: "Italiana", sa;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.left:hover{
  cursor: default;
}

/* TEXT STYLE */
.left h1 {
  color: #D4AF37;
  font-family: "Italiana", sans-serif;
  font-size: 150px;
  font-weight: 400;
  letter-spacing: 4px;
  display: flex;
  gap: 40px;
}
/*@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}*/

/* GLASS LOGIN CARD */
.login-card {
  position: absolute;
  right: 120px;     /* adjust spacing from right */
  top: 50%;
  transform: translateY(-50%);
  z-index: 2; 
  width: 360px;
  padding: 40px;
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.15);;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}
.login-card:hover{
  cursor: default;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  stroke-width: 1px;
  color: #ffffff;
  font-weight: bold;
}

.login-card input {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: none;
  outline: none;
  border: #1F2937 1px solid;
  background: #F3F4F6;
  color: #000000;
  font-size: 15px;
  font-weight: bold;
}

.login-card input::placeholder {
  color: #000000;
  font-weight:bold;
}

/* BUTTON */
.login-card .signin-btn {
  width: 100%;
  padding: 14px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  background: #0d5122;
  color: white;
  font-size: 16px;
  transition: 0.3s;
  margin-bottom: 15px;
  border: 0.3px solid black;
}

.login-card .signin-btn:hover {
  background:#0d5122;
  color: #ffffff;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  transition: 800ms;
}
.signin-btn:active{
  transform: scale(0.95);
}

/* FORGOT PASSWORD LINK */
.login-card .links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.login-card .signup-link,
.login-card .forgot-password {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  font-weight: bold;
}

.login-card .signup-link:hover,
.login-card .forgot-password:hover {
  color: #ffffff;
  text-decoration: underline;
  opacity: 0.8;
}
.history-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 20px;
  padding: 40px;
}

.history-card {
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px; 
  width: 600px;
  padding: 40px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  color: white;
  border: 1px solid #575757;
  opacity: 0.9;
}

.history-card:hover {
  transform: translateY(-6px);
  opacity: 1;
  box-shadow: 0 12px 30px rgba(0,0,0,0.3);
  transition: 500ms;
}

.history-card h3 {
  margin: 0;
  font-weight: 900;
  letter-spacing: 2px;
}

.download-btn {
  padding: 14px 24px;
  border-radius: 24px;
  border: 0.3px solid black;
  cursor: pointer;
  background: #0d5122;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.25s;
}

.download-btn:hover{
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}
.download-btn:active{
  transform: scale(0.95);
}
.content {
  margin-bottom: 50px;
  color:#D4AF37;
  text-align:center;
  position: fixed;
  left: 100px;
}
.new-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  padding: 14px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  background: #0d5122;
  color: white;
  font-size: 16px;
  transition: 0.25s;
  opacity:0.8;
  font-weight: bold;
}
.new-btn:hover{
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  transition: 500ms;
  opacity: 1;
}
.new-btn:active{
  transform: scale(0.95);
}
.profile-avatar {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Glassmorphism */
.glass {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
  transition: all 0.35s ease;
}

/* Hover effect */
.profile-avatar:hover {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  transition: 500ms;
}
.profile-avatar:active {
  transform: translateY(0) scale(0.95);
  box-shadow: none;
}
.home{
  width: 100%;
  height: 100vh;
  background-color: #1F2937;
  background-size: cover;
  background-position: center;
  padding: 80px;
  box-sizing: border-box;
  overflow: hidden;
  /*background: linear-gradient(135deg, #1f2937, #374151, #4b5563);*/
}
.home:hover{
  cursor: default;
}
.settings-button{
  all: unset;
  position: fixed;
  top: 76px;
  right: 26px;
  z-index: 20;
  display: inline-flex;
  color: white  ;
}
.settings-button:hover{
  cursor: pointer;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  transition: 500ms;
}
.settings-button:active{
  transform: translateY(0) scale(0.95);
  box-shadow: none;
  transform: rotate(60deg);
}

.profile-button{
  all: unset;
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 20;
  display: inline-flex;
}
.profile-button:hover{
  cursor: pointer;
}
.new-section{
  width: 100%;
  height: 100vh;
  background-color: #1F2937;
  background-size: cover;
  background-position: center;
  padding: 80px;
  box-sizing: border-box;
  overflow: hidden;
  color: #D4AF37;
  /*background: linear-gradient(135deg, #1f2937, #374151, #4b5563);*/
}
.new-section:hover{
  cursor: default;
}
.new-card {
  margin-top: 50px;
  margin-left: 50px;
  align-items: center;
  width: 600px;
  height: 5px;
  padding: 40px;
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  color: rgb(255, 255, 255);
  display: flex;
  gap: 120px; 
  border: 1px solid #575757;
  border-radius: 40px;
  opacity: 0.9;
}
.new-card:hover{
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  transition: 500ms;
  opacity: 1;
}
.create-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  padding: 14px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  background: #0d5122;
  color: white;
  font-size: 16px;
  transition: 0.3s;
  opacity:0.8;
  font-weight: bold;
}
.create-btn:hover{
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  transition: 500ms;
  opacity: 1;
}
.create-btn:active{
  transform: scale(0.95);
}
.upload-btn {
  margin-top: 42px;
  margin-left: 500px;
  width: 100px;
  padding: 14px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  background: #0d5122;
  color: white;
  font-size: 16px;
  transition: 0.3s;
  opacity:0.8;
  font-weight: bold;
}
.upload-btn:hover{
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.upload-btn:active{
  transform: scale(0.95);
}

.course-input input {
  width: 500px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 20px;
}
.course-input input::placeholder {
  color: #ffffff;
  text-align: left;
}
.batch-input input {
  width: 500px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 20px;
}
.batch-input input::placeholder {
  color: #ffffff;
}
.date-label {
  font-size: 20px;
  margin-right: 20px;
} 
.date-input input {
  padding-left: 110px;
  width: 270px;
  border: none;
  outline: none;
  background: transparent;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.date-input input::placeholder {
  color: #ffffff;
}
.exam-input input {
  width: 500px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 20px;
}
.exam-input input::placeholder {
  color: #ffffff;
}

/* PROFILE PAGE STYLES */
.profile-section {
  width: 100%;
  height: 100vh;
  background-color: #1F2937;
  background-size: cover;
  background-position: center;
  padding: 80px;
  box-sizing: border-box;
  overflow: hidden;
  /*background: linear-gradient(135deg, #1f2937, #374151, #4b5563);*/
}
.profile-section:hover{
  cursor: default;
}
.profile-section h1{
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  stroke-width: 1px;
  color: #D4AF37;
  font-weight: bold;
}
.profile-icon {
  position: fixed;
  width: 150px;
  height: 150px;
  margin-left: 150px;
  margin-top: 160px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.profile-card {
  position: fixed;
  left:550px;
  top:300px;
  width: 600px;
  padding: 40px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  color: white;
  border: 1px solid #575757;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile-card:hover{
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  transition: 500ms;
  opacity: 1;
}
.profile-info {
  font-size: 20px;
}
.info-value {
  margin-left: 10px;
} 
.profile-info span {
  font-weight: bold;
}
.edit-btn {
  position: fixed;
  margin-top: 370px;
  margin-left: 950px;
  width: 100px;
  padding: 14px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  background: #0d5122;
  color: white;
  font-size: 16px;
  transition: 0.3s;
  opacity:0.8;
  font-weight: bold;
}
.edit-btn:hover{
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  transition: 500ms;
  opacity: 1;
}
.edit-btn:active{
  transform: scale(0.95);
}
